body, h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Vollkorn', sans-serif;
    font-weight: 300;
}

.root-page {
    padding: 8% 4%;
}

.reroll{
    cursor: pointer;
}

.logo-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.logo-wrapper img {
    width: 200px;
}

.controls {
    text-align: center;
    padding: 0 15px;
}

.paragraph-count-wrapper, .reroll-wrapper {
    margin-top: 20px;
}

.control-item {
    cursor: pointer;
    text-align: left;
}